* {
    box-sizing: border-box;
  } 

.container {
    width: 100%;
    height: 1750px;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 20%;
    text-align: center;
}

.logo-container {
    width: 100%;
    height: 30%;
}

.headline {
    display: flex;
    width: 100%;
    height: 70%;
    display:flex;
    align-items: center;
}

h1 {
    width: 100%;
    height: 30%;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    line-height: 1.3;
    color: rgb(145, 145, 145);
    font-style: normal;
    font-weight: 400;
    align-self: center;
}

.middle {
    width: 100%;
    height: 20%;
    background-color: rgba(248, 248, 248, 1);
    display: flex;
    flex-direction: column;
}

.image-container {
    width: 100%;
    height: 75%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.title-container {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.title {
    height: 90%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: rgb(145, 145, 145);
    font-weight: 400;
    font-size: 18px;
}

.bottom {
    width: 100%;
    height: 60%;
    background-color: rgba(248, 248, 248, 1);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.second-row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-column {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.image-container-2 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 50%;
}

.text-container-2 {
    display: flex;
    justify-content: center;
    width: 85%;
    height: 8%;
    align-items: center;
}

.title-2 {
    height: 40%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: rgb(145, 145, 145);
    font-weight: 400;
    font-size: 18px;
    align-self: center;
}

.middle-column {
    width: 4%;
    height: 100%;
}

.right-column {
    width: 40%;
    height: 100%;
}

.image-container-3 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 50%;
}

.text-container-3 {
    display: flex;
    justify-content: center;
    width: 85%;
    height: 8%;
    align-items: center;
}

.title-3 {
    height: 40%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: rgb(145, 145, 145);
    font-weight: 400;
    font-size: 18px;
    align-self: center;
}